$pms-yellow: #FEDD00
$pms-yellow-012: #FFD700;
$pms-range-021: #FE5000;
$pms-warm-red: #F9423A;
$pms-red-032: #EF3340;
$pms-rubine-red: #CE0058;
$pms-rhodamine-red: #E10098;
$pms-purple: #BB29BB;
$pms-violet: #440099;
$pms-blue-072: #10069F;
$pms-reflex-blue: #001489;
$pms-process-blue: #0085CA;
$pms-green: #00AB84;
$pms-black: #2D2926;
$pms-yellow-0131: #F2F0A1;
$pms-red-0331: #FCAEBB;
$pms-magenta-0521: #F1B2DC;
$pms-violet-0631: #BF9BDE;
$pms-blue-0821: #74D1EA;
$pms-green-0921: #9DE7D7;
$pms-black-0961: #9E978E;
$pms-801: #009ACE;
$pms-802: #44D62C;
$pms-803: #FFE900;
$pms-804: #FFAA4D;
$pms-805: #FF7276;
$pms-806: #FF3EB5;
$pms-807: #EA27C2;
$pms-871: #84754E;
$pms-872: #85714D;
$pms-873: #866D4B;
$pms-874: #8B6F4E;
$pms-875: #87674F;
$pms-876: #8B634B;
$pms-877: #8A8D8F;
$pms-medium-yellow: #FFD900;
$pms-bright-orange: #FF5E00;
$pms-bright-red: #F93822;
$pms-strong-red: #CE0056;
$pms-pink: #D62598;
$pms-medium-purple: #4E008E;
$pms-dark-blue: #00239C;
$pms-medium-blue: #0084CA;
$pms-bright-green: #00B08B;
$pms-neutral-black: #222223;
$pms-100: #F6EB61;
$pms-101: #F7EA48;
$pms-102: #FCE300;
$pms-103: #C5A900;
$pms-104: #AF9800;
$pms-105: #897A27;
$pms-7401: #F5E1A4;
$pms-7402: #ECD898;
$pms-7403: #EED484;
$pms-7404: #F4DA40;
$pms-7405: #F2CD00;
$pms-7406: #F1C400;
$pms-7407: #CBA052;
$pms-106: #F9E547;
$pms-107: #FBE122;
$pms-108: #FEDB00;
$pms-109: #FFD100;
$pms-110: #DAAA00;
$pms-111: #AA8A00;
$pms-112: #9C8412;
$pms-113: #FAE053;
$pms-114: #FBDD40;
$pms-115: #FDDA24;
$pms-116: #FFCD00;
$pms-117: #C99700;
$pms-118: #AC8400;
$pms-119: #897322;
$pms-127: #F3DD6D;
$pms-128: #F3D54E;
$pms-129: #F3D03E;
$pms-130: #F2A900;
$pms-131: #CC8A00;
$pms-132: #A07400;
$pms-133: #6C571B;
$pms-1205: #F8E08E;
$pms-1215: #FBD872;
$pms-1225: #FFC845;
$pms-1235: #FFB81C;
$pms-1245: #C69214;
$pms-1255: #AD841F;
$pms-1265: #886B25;
$pms-120: #FBDB65;
$pms-121: #FDD757;
$pms-122: #FED141;
$pms-123: #FFC72C;
$pms-124: #EAAA00;
$pms-125: #B58500;
$pms-126: #9A7611;
$pms-7548: #FFC600;
$pms-7549: #FFB500;
$pms-7550: #D19000;
$pms-7551: #B47E00;
$pms-7552: #73531D;
$pms-7553: #5A4522;
$pms-7554: #4B3D2A;
$pms-7555: #D29F13;
$pms-7556: #B78B20;
$pms-7557: #9F7D23;
$pms-7558: #967126;
$pms-7559: #8F6A2A;
$pms-7560: #7D622E;
$pms-7561: #6C5D34;
$pms-134: #FDD26E;
$pms-135: #FFC658;
$pms-136: #FFBF3F;
$pms-137: #FFA300;
$pms-138: #DE7C00;
$pms-139: #AF6D04;
$pms-140: #74531C;
$pms-1345: #FDD086;
$pms-1355: #FFC56E;
$pms-1365: #FFB549;
$pms-1375: #FF9E1B;
$pms-1385: #D57800;
$pms-1395: #996017;
$pms-1405: #6E4C1E;
$pms-141: #F2C75C;
$pms-142: #F1BE48;
$pms-143: #F1B434;
$pms-144: #ED8B00;
$pms-145: #CF7F00;
$pms-146: #A76D11;
$pms-147: #715C2A;
$pms-7408: #F6BE00;
$pms-7409: #F0B323;
$pms-7410: #FEAD77;
$pms-7411: #E6A65D;
$pms-7412: #D38235;
$pms-7413: #DC8633;
$pms-7414: #C16C18;
$pms-7562: #BD9B60;
$pms-7563: #D69A2D;
$pms-7564: #DB8A06;
$pms-7565: #CD7925;
$pms-7566: #AD6433;
$pms-7567: #89532F;
$pms-7568: #775135;
$pms-7569: #D78825;
$pms-7570: #D3832B;
$pms-7571: #C67D30;
$pms-7572: #B67233;
$pms-7573: #A7662B;
$pms-7574: #9E6A38;
$pms-7575: #835D32;
$pms-712: #FCC89B;
$pms-713: #FDBE87;
$pms-714: #FDAA63;
$pms-715: #F68D2E;
$pms-716: #EA7600;
$pms-717: #D45D00;
$pms-718: #BE4D00;
$pms-148: #FECB8B;
$pms-149: #FFC27B;
$pms-150: #FFB25B;
$pms-151: #FF8200;
$pms-152: #E57200;
$pms-153: #BE6A14;
$pms-154: #9B5A1A;
$pms-155: #EFD19F;
$pms-156: #EFBE7D;
$pms-157: #ECA154;
$pms-158: #E87722;
$pms-159: #CB6015;
$pms-160: #A1561C;
$pms-161: #603D20;
$pms-1485: #FFAE62;
$pms-1495: #FF8F1C;
$pms-1505: #FF6900;
$pms-1525: #B94700;
$pms-1535: #94450B;
$pms-1545: #653819;
$pms-1555: #FFB990;
$pms-1565: #FFA06A;
$pms-1575: #FF7F32;
$pms-1585: #FF6A13;
$pms-1595: #D86018;
$pms-1605: #A65523;
$pms-1615: #8B4720;
$pms-162: #FFBE9F;
$pms-163: #FF9D6E;
$pms-164: #FF7F41;
$pms-165: #FF671F;
$pms-166: #E35205;
$pms-167: #BE531C;
$pms-168: #73381D;
$pms-7576: #DB864E;
$pms-7577: #E07E3C;
$pms-7578: #DC6B2F;
$pms-7579: #DC582A;
$pms-7580: #C05131;
$pms-7581: #864A33;
$pms-7582: #674736;
$pms-1625: #FFA38B;
$pms-1635: #FF8D6D;
$pms-1645: #FF6A39;
$pms-1655: #FC4C02;
$pms-1665: #DC4405;
$pms-1675: #A9431E;
$pms-1685: #833921;
$pms-169: #FFB3AB;
$pms-170: #FF8674;
$pms-171: #FF5C39;
$pms-172: #FA4616;
$pms-173: #CF4520;
$pms-174: #963821;
$pms-175: #6B3529;
$pms-7583: #C4622D;
$pms-7584: #BA5826;
$pms-7585: #AF5C37;
$pms-7586: #9E5330;
$pms-7587: #924C2E;
$pms-7588: #7B4D35;
$pms-7589: #5C4738;
$pms-7590: #D4B59E;
$pms-7591: #C07D59;
$pms-7592: #B15533;
$pms-7593: #9D432C;
$pms-7594: #7C3A2D;
$pms-7595: #6B3D2E;
$pms-7596: #5C3D31;
$pms-7597: #D14124;
$pms-7598: #BD472A;
$pms-7599: #B33D26;
$pms-7600: #8D3F2B;
$pms-7601: #83412C;
$pms-7602: #7B4931;
$pms-7603: #674230;
$pms-7604: #E4D5D3;
$pms-7605: #E1BBB4;
$pms-7606: #D6938A;
$pms-7607: #C26E60;
$pms-7608: #A4493D;
$pms-7609: #823B34;
$pms-7610: #683431;
$pms-7611: #DDBCB0;
$pms-7612: #CA9A8E;
$pms-7613: #BC8A7E;
$pms-7614: #A37F74;
$pms-7615: #866761;
$pms-7616: #6B4C4C;
$pms-7617: #583D3E;
$pms-7520: #EABEB0;
$pms-7521: #C09C83;
$pms-7522: #B46A55;
$pms-7523: #AB5C57;
$pms-7524: #A45248;
$pms-7525: #9A6A4F;
$pms-7526: #8A391B;
$pms-489: #ECC3B2;
$pms-488: #ECBAA8;
$pms-487: #EAA794;
$pms-486: #E8927C;
$pms-485: #DA291C;
$pms-484: #9A3324;
$pms-483: #653024;
$pms-176: #FFB1BB;
$pms-177: #FF808B;
$pms-178: #FF585D;
$pms-179: #E03C31;
$pms-180: #BE3A34;
$pms-181: #81312F;
$pms-1765: #FFA3B5;
$pms-1775: #FF8DA1;
$pms-1785: #F8485E;
$pms-1788: #EE2737;
$pms-1795: #D22630;
$pms-1805: #AF272F;
$pms-1815: #7C2529;
$pms-1767: #FCAFC0;
$pms-1777: #FB637E;
$pms-1787: #F4364C;
$pms-1797: #CB333B;
$pms-1807: #A4343A;
$pms-1817: #643335;
$pms-7618: #C66E4E;
$pms-7619: #C04C36;
$pms-7620: #B7312C;
$pms-7621: #AB2328;
$pms-7622: #93272C;
$pms-7623: #8A2A2B;
$pms-7624: #802F2D;
$pms-7625: #E1523D;
$pms-7626: #C63527;
$pms-7627: #A72B2A;
$pms-7628: #9E2A2B;
$pms-7629: #6D3332;
$pms-7630: #633231;
$pms-7631: #572D2D;
$pms-7415: #E6BAA8;
$pms-7416: #E56A54;
$pms-7417: #E04E39;
$pms-7418: #CD545B;
$pms-7419: #B04A5A;
$pms-7420: #9B2242;
$pms-7421: #651D32;
$pms-182: #FABBCB;
$pms-183: #FC9BB3;
$pms-184: #F65275;
$pms-185: #E4002B;
$pms-186: #C8102E;
$pms-187: #A6192E;
$pms-188: #76232F;
$pms-196: #ECC7CD;
$pms-197: #E89CAE;
$pms-198: #DF4661;
$pms-199: #D50032;
$pms-200: #BA0C2F;
$pms-201: #9D2235;
$pms-202: #862633;
$pms-189: #F8A3BC;
$pms-190: #F67599;
$pms-191: #EF426F;
$pms-192: #E40046;
$pms-193: #BF0D3E;
$pms-194: #9B2743;
$pms-195: #782F40;
$pms-1895: #F5B6CD;
$pms-1905: #F59BBB;
$pms-1915: #EF4A81;
$pms-1925: #E0004D;
$pms-1935: #C5003E;
$pms-1945: #A6093D;
$pms-1955: #8A1538;
$pms-705: #F5DADF;
$pms-706: #F7CED7;
$pms-707: #F9B5C4;
$pms-708: #F890A5;
$pms-709: #EF6079;
$pms-710: #E03E52;
$pms-711: #CB2C30;
$pms-698: #F2D4D7;
$pms-699: #F4C3CC;
$pms-700: #F2ACB9;
$pms-701: #E68699;
$pms-702: #D25B73;
$pms-703: #B83A4B;
$pms-704: #9E2A2F;
$pms-203: #ECB3CB;
$pms-204: #E782A9;
$pms-205: #E0457B;
$pms-206: #CE0037;
$pms-207: #A50034;
$pms-208: #861F41;
$pms-209: #6F263D;
$pms-210: #F99FC9;
$pms-211: #F57EB6;
$pms-212: #F04E98;
$pms-213: #E31C79;
$pms-214: #CE0F69;
$pms-215: #AC145A;
$pms-216: #7D2248;
$pms-7422: #F4CDD4;
$pms-7423: #E06287;
$pms-7424: #E24585;
$pms-7425: #B52555;
$pms-7426: #A4123F;
$pms-7427: #971B2F;
$pms-7428: #6A2C3E;
$pms-7632: #D6C9CA;
$pms-7633: #C4A4A7;
$pms-7634: #C16784;
$pms-7635: #C63663;
$pms-7636: #BC204B;
$pms-7637: #912F46;
$pms-7638: #7E2D40;
$pms-217: #EABEDB;
$pms-218: #E56DB1;
$pms-219: #DA1884;
$pms-220: #A50050;
$pms-221: #910048;
$pms-222: #6C1D45;
$pms-7639: #936D73;
$pms-7640: #934054;
$pms-7641: #8E2C48;
$pms-7642: #732E4A;
$pms-7643: #672E45;
$pms-7644: #582D40;
$pms-7645: #502B3A;
$pms-223: #EF95CF;
$pms-224: #EB6FBD;
$pms-225: #DF1995;
$pms-226: #D0006F;
$pms-227: #AA0061;
$pms-228: #890C58;
$pms-229: #672146;
$pms-230: #F4A6D7;
$pms-231: #F277C6;
$pms-232: #E93CAC;
$pms-233: #C6007E;
$pms-234: #A20067;
$pms-235: #840B55;
$pms-670: #EAD3E2;
$pms-671: #E6BCD8;
$pms-672: #DFA0C9;
$pms-673: #D986BA;
$pms-674: #C6579A;
$pms-675: #AE2573;
$pms-676: #960051;
$pms-677: #E5CEDB;
$pms-678: #E3C8D8;
$pms-679: #DEBED2;
$pms-680: #C996B6;
$pms-681: #B06C96;
$pms-682: #994878;
$pms-683: #7C2855;
$pms-684: #E4C6D4;
$pms-685: #DCB6C9;
$pms-686: #D0A1BA;
$pms-687: #BE84A3;
$pms-688: #A76389;
$pms-689: #893B67;
$pms-690: #612141;
$pms-510: #EBBECB;
$pms-509: #E8B3C3;
$pms-508: #E4A9BB;
$pms-507: #D592AA;
$pms-506: #84344E;
$pms-505: #6F2C3F;
$pms-504: #572932;
$pms-7429: #E2BCCB;
$pms-7430: #DCA9BF;
$pms-7431: #C9809E;
$pms-7432: #B55C80;
$pms-7433: #A73A64;
$pms-7434: #9B3259;
$pms-7435: #872651;
$pms-691: #E9CDD0;
$pms-692: #E4BEC3;
$pms-693: #D7A3AB;
$pms-694: #C48490;
$pms-695: #B46B7A;
$pms-696: #984856;
$pms-697: #893C47;
$pms-496: #F2C6CF;
$pms-495: #F1BDC8;
$pms-494: #E9A2B2;
$pms-493: #DC8699;
$pms-492: #8F3237;
$pms-491: #7F3035;
$pms-490: #5D2A2C;
$pms-503: #E9C4C7;
$pms-502: #E5BAC1;
$pms-501: #DAA5AD;
$pms-500: #C6858F;
$pms-499: #7A3E3A;
$pms-498: #6A3735;
$pms-497: #512F2E;
$pms-5035: #DFC2C3;
$pms-5025: #DBB7BB;
$pms-5015: #CCA1A6;
$pms-5005: #B07C83;
$pms-4995: #9C6169;
$pms-4985: #874B52;
$pms-4975: #3F2021;
$pms-236: #F1A7DC;
$pms-237: #EC86D0;
$pms-238: #E45DBF;
$pms-239: #DB3EB1;
$pms-240: #C5299B;
$pms-241: #AF1685;
$pms-242: #80225F;
$pms-2365: #EFBAE1;
$pms-2375: #E277CD;
$pms-2385: #D539B5;
$pms-2395: #C800A1;
$pms-2405: #B0008E;
$pms-2415: #9E007E;
$pms-2425: #830065;
$pms-243: #EAB8E4;
$pms-244: #E59BDC;
$pms-245: #DD7FD3;
$pms-246: #C724B1;
$pms-247: #BB16A3;
$pms-248: #A51890;
$pms-249: #80276C;
$pms-7646: #A56E87;
$pms-7647: #A83D72;
$pms-7648: #991E66;
$pms-7649: #8A1B61;
$pms-7650: #722257;
$pms-7651: #6A2A5B;
$pms-7652: #5E2751;
$pms-250: #E7BAE4;
$pms-251: #DD9CDF;
$pms-252: #C964CF;
$pms-253: #AD1AAC;
$pms-254: #981D97;
$pms-255: #72246C;
$pms-517: #EBC6DF;
$pms-516: #E6BEDD;
$pms-515: #E2ACD7;
$pms-514: #D48BC8;
$pms-513: #93328E;
$pms-512: #833177;
$pms-511: #612C51;
$pms-7436: #EEDAEA;
$pms-7437: #CCAED0;
$pms-7438: #D59ED7;
$pms-7439: #B288B9;
$pms-7440: #A277A6;
$pms-7441: #9F5CC0;
$pms-7442: #963CBD;
$pms-2562: #D7A9E3;
$pms-2572: #C98BDB;
$pms-2582: #AC4FC6;
$pms-2592: #9B26B6;
$pms-2602: #87189D;
$pms-2612: #772583;
$pms-2622: #653165;
$pms-7653: #948794;
$pms-7654: #A2789C;
$pms-7655: #A15A95;
$pms-7656: #8E3A80;
$pms-7657: #6E2B62;
$pms-7658: #6A3460;
$pms-7659: #5D3754;
$pms-524: #D5C2D8;
$pms-523: #C9B1D0;
$pms-522: #BA9CC5;
$pms-521: #A57FB2;
$pms-520: #642F6C;
$pms-519: #59315F;
$pms-518: #4B3048;
$pms-5245: #DBCDD3;
$pms-5235: #D0BEC7;
$pms-5225: #C6B0BC;
$pms-5215: #AF95A6;
$pms-5205: #86647A;
$pms-5195: #66435A;
$pms-5185: #4A3041;
$pms-5175: #D8C8D1;
$pms-5165: #D3C0CD;
$pms-5155: #BFA5B8;
$pms-5145: #9B7793;
$pms-5135: #7E5475;
$pms-5125: #693C5E;
$pms-5115: #512A44;
$pms-531: #DFC8E7;
$pms-530: #D7B9E4;
$pms-529: #CAA2DD;
$pms-528: #B580D1;
$pms-527: #8031A7;
$pms-526: #702F8A;
$pms-525: #572C5F;
$pms-256: #D6BFDD;
$pms-257: #C6A1CF;
$pms-258: #8C4799;
$pms-259: #6D2077;
$pms-260: #642667;
$pms-261: #5D285F;
$pms-262: #51284F;
$pms-2563: #CBA3D8;
$pms-2573: #B884CB;
$pms-2583: #A05EB5;
$pms-2593: #84329B;
$pms-2603: #702082;
$pms-2613: #671E75;
$pms-2623: #5F2167;
$pms-7660: #9991A4;
$pms-7661: #8D6E97;
$pms-7662: #7A4183;
$pms-7663: #6B3077;
$pms-7664: #653279;
$pms-7665: #5E366E;
$pms-7666: #5C4E63;
$pms-2567: #C1A0DA;
$pms-2577: #A77BCA;
$pms-2587: #8246AF;
$pms-2597: #5C068C;
$pms-2607: #500778;
$pms-2617: #470A68;
$pms-2627: #3C1053;
$pms-263: #D7C6E6;
$pms-264: #C1A7E2;
$pms-265: #9063CD;
$pms-266: #753BBD;
$pms-267: #5F259F;
$pms-268: #582C83;
$pms-269: #512D6D;
$pms-2635: #C5B4E3;
$pms-2645: #AD96DC;
$pms-2655: #9678D3;
$pms-2665: #7D55C7;
$pms-2685: #330072;
$pms-2695: #2E1A47;
$pms-270: #B4B5DF;
$pms-271: #9595D2;
$pms-272: #7474C1;
$pms-273: #24135F;
$pms-274: #211551;
$pms-275: #201747;
$pms-276: #221C35;
$pms-2705: #A7A4E0;
$pms-2715: #8B84D7;
$pms-2725: #685BC7;
$pms-2735: #2E008B;
$pms-2745: #280071;
$pms-2755: #250E62;
$pms-2765: #201547;
$pms-7667: #6E7CA0;
$pms-7668: #686E9F;
$pms-7669: #615E9B;
$pms-7670: #565294;
$pms-7671: #514689;
$pms-7672: #4C4184;
$pms-7673: #535486;
$pms-7443: #DDDAE8;
$pms-7444: #B6B8DC;
$pms-7445: #A7A2C3;
$pms-7446: #8986CA;
$pms-7447: #5D4777;
$pms-7448: #4B384C;
$pms-7449: #41273B;
$pms-7674: #878CB4;
$pms-7675: #7C7FAB;
$pms-7676: #7566A0;
$pms-7677: #6F5091;
$pms-7678: #68478D;
$pms-7679: #563D82;
$pms-7680: #523178;
$pms-663: #E5E1E6;
$pms-664: #E0DBE3;
$pms-665: #C6BCD0;
$pms-666: #A192B2;
$pms-667: #7C6992;
$pms-668: #614B79;
$pms-669: #3F2A56;
$pms-5315: #D8D7DF;
$pms-5305: #C6C4D2;
$pms-5295: #B3B0C4;
$pms-5285: #8D89A5;
$pms-5275: #595478;
$pms-5265: #403A60;
$pms-5255: #1E1A34;
$pms-538: #C5CFDA;
$pms-537: #BBC7D6;
$pms-536: #A2B2C8;
$pms-535: #8E9FBC;
$pms-534: #1B365D;
$pms-533: #1F2A44;
$pms-532: #1C1F2A;
$pms-7541: #D9E1E2;
$pms-7542: #A4BCC2;
$pms-7543: #98A4AE;
$pms-7544: #768692;
$pms-7545: #425563;
$pms-7546: #253746;
$pms-7547: #131E29;
$pms-552: #B9D3DC;
$pms-551: #A3C7D2;
$pms-550: #8DB9CA;
$pms-549: #6BA4B8;
$pms-548: #003D4C;
$pms-547: #00313C;
$pms-546: #072B31;
$pms-5455: #BFCED6;
$pms-5445: #B7C9D3;
$pms-5435: #A6BBC8;
$pms-5425: #7A99AC;
$pms-5415: #5B7F95;
$pms-5405: #4F758B;
$pms-5395: #081F2C;
$pms-642: #D1DDE6;
$pms-643: #C6D6E3;
$pms-644: #9BB8D3;
$pms-645: #7DA1C4;
$pms-646: #5E8AB4;
$pms-647: #236192;
$pms-648: #002E5D;
$pms-649: #DBE2E9;
$pms-650: #CED9E5;
$pms-651: #A7BCD6;
$pms-652: #7D9BC1;
$pms-653: #326295;
$pms-654: #003A70;
$pms-655: #002554;
$pms-656: #DDE5ED;
$pms-657: #C8D8EB;
$pms-658: #B1C9E8;
$pms-659: #7BA4DB;
$pms-660: #407EC9;
$pms-661: #003594;
$pms-662: #001A70;
$pms-7450: #BDC5DB;
$pms-7451: #89ABE3;
$pms-7452: #8094DD;
$pms-7453: #7BA6DE;
$pms-7454: #5F8FB4;
$pms-7455: #3A5DAE;
$pms-7456: #606EB2;
$pms-2706: #CBD3EB;
$pms-2716: #9FAEE5;
$pms-2726: #485CC7;
$pms-2736: #1E22AA;
$pms-2746: #171C8F;
$pms-2756: #151F6D;
$pms-2766: #141B4D;
$pms-2708: #B8CCEA;
$pms-2718: #5C88DA;
$pms-2728: #0047BB;
$pms-2738: #06038D;
$pms-2748: #001871;
$pms-2758: #001E62;
$pms-2768: #071D49;
$pms-2707: #C3D7EE;
$pms-2717: #A7C6ED;
$pms-2727: #307FE2;
$pms-2747: #001A72;
$pms-2757: #001E60;
$pms-2767: #13294B;
$pms-277: #ABCAE9;
$pms-278: #8BB8E8;
$pms-279: #418FDE;
$pms-280: #012169;
$pms-281: #00205B;
$pms-282: #041E42;
$pms-283: #92C1E9;
$pms-284: #6CACE4;
$pms-285: #0072CE;
$pms-286: #0033A0;
$pms-287: #003087;
$pms-288: #002D72;
$pms-289: #0C2340;
$pms-7681: #94A9CB;
$pms-7682: #6787B7;
$pms-7683: #426DA9;
$pms-7684: #385E9D;
$pms-7685: #2C5697;
$pms-7686: #1D4F91;
$pms-7687: #1D428A;
$pms-545: #C6DAE7;
$pms-544: #BDD6E6;
$pms-543: #A4C8E1;
$pms-542: #7BAFD4;
$pms-541: #003C71;
$pms-540: #003057;
$pms-539: #00263A;
$pms-290: #B9D9EB;
$pms-291: #9BCBEB;
$pms-292: #69B3E7;
$pms-293: #003DA5;
$pms-294: #002F6C;
$pms-295: #002855;
$pms-296: #041C2C;
$pms-2905: #8DC8E8;
$pms-2915: #62B5E5;
$pms-2925: #009CDE;
$pms-2935: #0057B8;
$pms-2945: #004C97;
$pms-2955: #003865;
$pms-2965: #00263E;
$pms-297: #71C5E8;
$pms-298: #41B6E6;
$pms-299: #00A3E0;
$pms-300: #005EB8;
$pms-301: #004B87;
$pms-302: #003B5C;
$pms-303: #002A3A;
$pms-7688: #4698CB;
$pms-7689: #298FC2;
$pms-7690: #0076A8;
$pms-7691: #006298;
$pms-7692: #005587;
$pms-7693: #004976;
$pms-7694: #01426A;
$pms-2975: #99D6EA;
$pms-2985: #5BC2E7;
$pms-2995: #00A9E0;
$pms-3005: #0077C8;
$pms-3015: #00629B;
$pms-3025: #004F71;
$pms-3035: #003E51;
$pms-7695: #7BA7BC;
$pms-7696: #6399AE;
$pms-7697: #4E87A0;
$pms-7698: #41748D;
$pms-7699: #34657F;
$pms-7700: #165C7D;
$pms-7701: #005776;
$pms-7457: #BBDDE6;
$pms-7458: #71B2C9;
$pms-7459: #4298B5;
$pms-7460: #0086BF;
$pms-7461: #007DBA;
$pms-7462: #00558C;
$pms-7463: #002B49;
$pms-304: #9ADBE8;
$pms-305: #59CBE8;
$pms-306: #00B5E2;
$pms-307: #006BA6;
$pms-308: #00587C;
$pms-309: #003B49;
$pms-635: #A4DBE8;
$pms-636: #8BD3E6;
$pms-637: #4EC3E0;
$pms-638: #00AFD7;
$pms-639: #0095C8;
$pms-640: #0082BA;
$pms-641: #0067A0;
$pms-7702: #48A9C5;
$pms-7703: #009CBD;
$pms-7704: #0085AD;
$pms-7705: #007096;
$pms-7706: #006A8E;
$pms-7707: #00617F;
$pms-7708: #005670;
$pms-628: #B8DDE1;
$pms-629: #9BD3DD;
$pms-630: #77C5D5;
$pms-631: #3EB1C8;
$pms-632: #0093B2;
$pms-633: #007396;
$pms-634: #005F83;
$pms-310: #6AD1E3;
$pms-311: #05C3DE;
$pms-312: #00A9CE;
$pms-313: #0092BC;
$pms-314: #007FA3;
$pms-315: #00677F;
$pms-316: #004851;
$pms-3105: #68D2DF;
$pms-3115: #00C1D5;
$pms-3125: #00AEC7;
$pms-3135: #008EAA;
$pms-3145: #00778B;
$pms-3155: #006272;
$pms-3165: #004F59;
$pms-7709: #63B1BC;
$pms-7710: #00A7B5;
$pms-7711: #0097A9;
$pms-7712: #00859B;
$pms-7713: #007D8A;
$pms-7714: #007680;
$pms-7715: #006269;
$pms-317: #B1E4E3;
$pms-318: #88DBDF;
$pms-319: #2DCCD3;
$pms-320: #009CA6;
$pms-321: #008C95;
$pms-322: #007377;
$pms-323: #005F61;
$pms-7464: #A0D1CA;
$pms-7465: #40C1AC;
$pms-7466: #00B0B9;
$pms-7467: #00A3AD;
$pms-7468: #007398;
$pms-7469: #005F86;
$pms-7470: #005A70;
$pms-7471: #7EDDD3;
$pms-7472: #5CB8B2;
$pms-7473: #279989;
$pms-7474: #007681;
$pms-7475: #487A7B;
$pms-7476: #0D5257;
$pms-7477: #244C5A;
$pms-5523: #B6CFD0;
$pms-5513: #ABC7CA;
$pms-5503: #94B7BB;
$pms-5493: #7FA9AE;
$pms-5483: #4F868E;
$pms-5473: #115E67;
$pms-5463: #07272D;
$pms-7716: #00968F;
$pms-7717: #00857D;
$pms-7718: #007672;
$pms-7719: #006D68;
$pms-7720: #00635B;
$pms-7721: #005E5D;
$pms-7722: #005151;
$pms-324: #9CDBD9;
$pms-325: #64CCC9;
$pms-326: #00B2A9;
$pms-327: #008675;
$pms-328: #007367;
$pms-329: #00685E;
$pms-330: #00534C;
$pms-3242: #71DBD4;
$pms-3252: #2AD2C9;
$pms-3262: #00BFB3;
$pms-3272: #00A499;
$pms-3282: #008578;
$pms-3292: #00594F;
$pms-3302: #004C45;
$pms-3245: #7CE0D3;
$pms-3255: #2CD5C4;
$pms-3265: #00C7B1;
$pms-3275: #00B398;
$pms-3285: #009681;
$pms-3295: #007864;
$pms-3305: #004E42;
$pms-3248: #6DCDB8;
$pms-3258: #49C5B1;
$pms-3268: #00AB8E;
$pms-3278: #009B77;
$pms-3288: #008264;
$pms-3298: #006A52;
$pms-3308: #034638;
$pms-566: #B9DCD2;
$pms-565: #A1D6CA;
$pms-564: #86C8BC;
$pms-563: #6BBBAE;
$pms-562: #006F62;
$pms-561: #00594C;
$pms-560: #1D3C34;
$pms-573: #B5E3D8;
$pms-572: #A5DFD3;
$pms-571: #98DBCE;
$pms-570: #6BCABA;
$pms-569: #00816D;
$pms-568: #006C5B;
$pms-567: #173F35;
$pms-559: #ADCAB8;
$pms-558: #9ABEAA;
$pms-557: #85B09A;
$pms-556: #6FA287;
$pms-555: #28724F;
$pms-554: #205C40;
$pms-553: #284734;
$pms-5595: #BFCEC2;
$pms-5585: #A7BDB1;
$pms-5575: #92ACA0;
$pms-5565: #7F9C90;
$pms-5555: #5C7F71;
$pms-5545: #43695B;
$pms-5535: #183028;
$pms-5665: #BAC5B9;
$pms-5655: #B0BDB0;
$pms-5645: #A3B2A4;
$pms-5635: #94A596;
$pms-5625: #708573;
$pms-5615: #5E7461;
$pms-5605: #22372B;
$pms-5527: #BCC9C5;
$pms-5517: #B1C0BC;
$pms-5507: #9DB0AC;
$pms-5497: #829995;
$pms-5487: #5D7975;
$pms-5477: #3E5D58;
$pms-5467: #18332F;
$pms-621: #D1E0D7;
$pms-622: #B7CDC2;
$pms-623: #9AB9AD;
$pms-624: #789F90;
$pms-625: #507F70;
$pms-626: #285C4D;
$pms-627: #13322B;
$pms-331: #A7E6D7;
$pms-332: #8CE2D0;
$pms-333: #3CDBC0;
$pms-334: #009775;
$pms-335: #007B5F;
$pms-336: #00664F;
$pms-337: #8FD6BD;
$pms-338: #6ECEB2;
$pms-339: #00B388;
$pms-340: #00965E;
$pms-341: #007A53;
$pms-342: #006747;
$pms-343: #115740;
$pms-7723: #50A684;
$pms-7724: #00966C;
$pms-7725: #008755;
$pms-7726: #007B4B;
$pms-7727: #006F44;
$pms-7728: #006845;
$pms-7729: #005844;
$pms-3375: #7AE1BF;
$pms-3385: #47D7AC;
$pms-3395: #00C389;
$pms-3405: #00AF66;
$pms-3415: #007749;
$pms-3425: #006341;
$pms-3435: #154734;
$pms-344: #A0DAB3;
$pms-345: #91D6AC;
$pms-346: #71CC98;
$pms-347: #009A44;
$pms-348: #00843D;
$pms-349: #046A38;
$pms-350: #2C5234;
$pms-351: #A2E4B8;
$pms-352: #8FE2B0;
$pms-353: #80E0A7;
$pms-354: #00B140;
$pms-355: #009639;
$pms-356: #007A33;
$pms-357: #215732;
$pms-7478: #9BE3BF;
$pms-7479: #26D07C;
$pms-7480: #00BF6F;
$pms-7481: #00B74F;
$pms-7482: #009F4D;
$pms-7483: #275D38;
$pms-7484: #00573F;
$pms-7730: #4B9560;
$pms-7731: #228848;
$pms-7732: #007A3E;
$pms-7733: #007041;
$pms-7734: #286140;
$pms-7735: #36573B;
$pms-7736: #395542;
$pms-7737: #6BA539;
$pms-7738: #48A23F;
$pms-7739: #319B42;
$pms-7740: #3A913F;
$pms-7741: #44883E;
$pms-7742: #4A773C;
$pms-7743: #44693D;
$pms-358: #ADDC91;
$pms-359: #A1D884;
$pms-360: #6CC24A;
$pms-361: #43B02A;
$pms-362: #509E2F;
$pms-363: #4C8C2B;
$pms-364: #4A7729;
$pms-7485: #D0DEBB;
$pms-7486: #BCE194;
$pms-7487: #8EDD65;
$pms-7488: #78D64B;
$pms-7489: #74AA50;
$pms-7490: #719949;
$pms-7491: #79863C;
$pms-365: #C2E189;
$pms-366: #B7DD79;
$pms-367: #A4D65E;
$pms-368: #78BE20;
$pms-369: #64A70B;
$pms-370: #658D1B;
$pms-371: #546223;
$pms-372: #D4EB8E;
$pms-373: #CDEA80;
$pms-374: #C5E86C;
$pms-375: #97D700;
$pms-376: #84BD00;
$pms-377: #7A9A01;
$pms-378: #59621D;
$pms-580: #C4D6A4;
$pms-579: #BCD19B;
$pms-578: #B7CE95;
$pms-577: #A9C47F;
$pms-576: #789D4A;
$pms-575: #67823A;
$pms-574: #4E5B31;
$pms-5807: #D0D1AB;
$pms-5797: #C6C89B;
$pms-5787: #BABD8B;
$pms-5777: #A2A569;
$pms-5767: #8A8D4A;
$pms-5757: #6D712E;
$pms-5747: #3D441E;
$pms-5875: #D2CE9E;
$pms-5865: #CBC793;
$pms-5855: #C0BB87;
$pms-5845: #AFA96E;
$pms-5835: #A09958;
$pms-5825: #89813D;
$pms-5815: #555025;
$pms-5803: #C3C6A8;
$pms-5793: #B3B995;
$pms-5783: #A3AA83;
$pms-5773: #899064;
$pms-5763: #737B4C;
$pms-5753: #5E6738;
$pms-5743: #3E4827;
$pms-7492: #BFCC80;
$pms-7493: #BBC592;
$pms-7494: #9CAF88;
$pms-7495: #8F993E;
$pms-7496: #76881D;
$pms-7497: #7A7256;
$pms-7498: #5B6236;
$pms-7744: #BABC16;
$pms-7745: #ABAD23;
$pms-7746: #999B30;
$pms-7747: #888D30;
$pms-7748: #7C8034;
$pms-7749: #727337;
$pms-7750: #656635;
$pms-379: #E2E868;
$pms-380: #DBE442;
$pms-381: #CEDC00;
$pms-382: #C4D600;
$pms-383: #A8AD00;
$pms-384: #949300;
$pms-385: #787121;
$pms-386: #E9EC6B;
$pms-387: #E3E935;
$pms-388: #E0E721;
$pms-389: #D0DF00;
$pms-390: #B5BD00;
$pms-391: #9A9500;
$pms-392: #827A04;
$pms-587: #E3E48D;
$pms-586: #E0E27C;
$pms-585: #DBDE70;
$pms-584: #D2D755;
$pms-583: #B7BF10;
$pms-582: #8E8C13;
$pms-581: #625D20;
$pms-393: #F0EC74;
$pms-394: #EDE939;
$pms-395: #ECE81A;
$pms-396: #E1E000;
$pms-397: #BFB800;
$pms-398: #ADA400;
$pms-399: #A09200;
$pms-3935: #F3EA5D;
$pms-3945: #F3E500;
$pms-3955: #EFDF00;
$pms-3965: #EEDC00;
$pms-3975: #BBA600;
$pms-3985: #9A8700;
$pms-3995: #685C20;
$pms-600: #F1EB9C;
$pms-601: #F0E991;
$pms-602: #F0E87B;
$pms-603: #EDE04B;
$pms-604: #EADA24;
$pms-605: #E1CD00;
$pms-606: #CFB500;
$pms-607: #EBE49A;
$pms-608: #E9E186;
$pms-609: #E6DE77;
$pms-610: #E1D555;
$pms-611: #D7C826;
$pms-612: #C4B000;
$pms-613: #B39B00;
$pms-461: #E9DF97;
$pms-460: #E4D77E;
$pms-459: #DECD63;
$pms-458: #D9C756;
$pms-457: #B89D18;
$pms-456: #A28E2A;
$pms-455: #695B24;
$pms-614: #DCD59A;
$pms-615: #D6CF8D;
$pms-616: #D0C883;
$pms-617: #C0B561;
$pms-618: #AC9F3C;
$pms-619: #9F912A;
$pms-620: #8A7B19;
$pms-7751: #CAB64B;
$pms-7752: #CFB023;
$pms-7753: #C1A01E;
$pms-7754: #A08629;
$pms-7755: #897630;
$pms-7756: #736635;
$pms-7757: #675E33;
$pms-7758: #D4C304;
$pms-7759: #C4B200;
$pms-7760: #91852C;
$pms-7761: #747136;
$pms-7762: #5D6439;
$pms-7763: #585C3B;
$pms-7764: #535435;
$pms-7765: #BBB323;
$pms-7766: #B4A91F;
$pms-7767: #AA9D2E;
$pms-7768: #8F7E35;
$pms-7769: #716135;
$pms-7770: #635939;
$pms-7771: #4E4934;
$pms-4545: #D5CB9F;
$pms-4535: #CFC493;
$pms-4525: #C5B783;
$pms-4515: #B3A369;
$pms-4505: #998542;
$pms-4495: #8C7732;
$pms-4485: #614F25;
$pms-454: #CAC7A7;
$pms-453: #BFBB98;
$pms-452: #B0AA7E;
$pms-451: #9B945F;
$pms-450: #594A25;
$pms-449: #524727;
$pms-448: #4A412A;
$pms-7499: #F1E6B2;
$pms-7500: #DFD1A7;
$pms-7501: #D9C89E;
$pms-7502: #CEB888;
$pms-7503: #A89968;
$pms-7504: #94795D;
$pms-7505: #816040;
$pms-468: #DDCBA4;
$pms-467: #D3BC8D;
$pms-466: #C6AA76;
$pms-465: #B9975B;
$pms-464: #8B5B29;
$pms-463: #744F28;
$pms-462: #5C462B;
$pms-7506: #EFDBB2;
$pms-7507: #FCD299;
$pms-7508: #E1B87F;
$pms-7509: #D6A461;
$pms-7510: #C6893F;
$pms-7511: #B77729;
$pms-7512: #A6631B;
$pms-719: #EDC8A3;
$pms-720: #E7B78A;
$pms-721: #DDA46F;
$pms-722: #C88242;
$pms-723: #B36924;
$pms-724: #934D11;
$pms-725: #7D3F16;
$pms-475: #F3CFB3;
$pms-474: #F1C6A7;
$pms-473: #F0BF9B;
$pms-472: #E59E6D;
$pms-471: #B86125;
$pms-470: #A45A2A;
$pms-469: #693F23;
$pms-726: #E0C09F;
$pms-727: #D9B48F;
$pms-728: #CDA077;
$pms-729: #B58150;
$pms-730: #9E652E;
$pms-731: #774212;
$pms-732: #623412;
$pms-4685: #E0C6AD;
$pms-4675: #DCBFA6;
$pms-4665: #CDA788;
$pms-4655: #BF9474;
$pms-4645: #AD7C59;
$pms-4635: #946037;
$pms-4625: #4F2C1D;
$pms-7513: #E1B7A7;
$pms-7514: #D5A286;
$pms-7515: #C58B68;
$pms-7516: #99552B;
$pms-7517: #85431E;
$pms-7518: #6D4F47;
$pms-7519: #5E4B3C;
$pms-4755: #D7C4B7;
$pms-4745: #CDB5A7;
$pms-4735: #C0A392;
$pms-4725: #AE8A79;
$pms-4715: #956C58;
$pms-4705: #7C4D3A;
$pms-4695: #5B3427;
$pms-482: #DBC8B6;
$pms-481: #D3BBA8;
$pms-480: #C6A992;
$pms-479: #AA8066;
$pms-478: #703F2A;
$pms-477: #623B2A;
$pms-476: #4E3629;
$pms-7527: #D6D2C4;
$pms-7528: #C5B9AC;
$pms-7529: #B7A99A;
$pms-7530: #A39382;
$pms-7531: #7A6855;
$pms-7532: #63513D;
$pms-7533: #473729;
$pms-7534: #D1CCBD;
$pms-7535: #B7B09C;
$pms-7536: #A69F88;
$pms-7537: #A7ACA2;
$pms-7538: #949A90;
$pms-7539: #8E9089;
$pms-7540: #4B4F54;
$pms-427: #D0D3D4;
$pms-428: #C1C6C8;
$pms-429: #A2AAAD;
$pms-430: #7C878E;
$pms-431: #5B6770;
$pms-432: #333F48;
$pms-433: #1D252D;
$pms-420: #C7C9C7;
$pms-421: #B2B4B2;
$pms-422: #9EA2A2;
$pms-423: #898D8D;
$pms-424: #707372;
$pms-425: #54585A;
$pms-426: #25282A;
$pms-441: #BEC6C4;
$pms-442: #A2ACAB;
$pms-443: #919D9D;
$pms-444: #717C7D;
$pms-445: #505759;
$pms-446: #3F4444;
$pms-447: #373A36;
$pms-413: #BABBB1;
$pms-414: #A8A99E;
$pms-415: #919388;
$pms-416: #7E7F74;
$pms-417: #65665C;
$pms-418: #51534A;
$pms-419: #212322;
$pms-400: #C4BFB6;
$pms-401: #AFA9A0;
$pms-402: #9D968D;
$pms-403: #8C857B;
$pms-404: #776E64;
$pms-405: #696158;
$pms-406: #C4BCB7;
$pms-407: #B2A8A2;
$pms-408: #978C87;
$pms-409: #857874;
$pms-410: #746661;
$pms-411: #5E514D;
$pms-412: #382F2D;
$pms-434: #D0C4C5;
$pms-435: #C1B2B6;
$pms-436: #AB989D;
$pms-437: #7B6469;
$pms-438: #584446;
$pms-439: #453536;
$pms-440: #382E2C;
$pms-warm-gray1: #D7D2CB;
$pms-warm-gray2: #CBC4BC;
$pms-warm-gray3: #BFB8AF;
$pms-warm-gray4: #B6ADA5;
$pms-warm-gray5: #ACA39A;
$pms-warm-gray6: #A59C94;
$pms-warm-gray7: #968C83;
$pms-warm-gray8: #8C8279;
$pms-warm-gray9: #83786F;
$pms-warm-gray10: #796E65;
$pms-warm-gray11: #6E6259;
$pms-cool-gray1: #D9D9D6;
$pms-cool-gray2: #D0D0CE;
$pms-cool-gray3: #C8C9C7;
$pms-cool-gray4: #BBBCBC;
$pms-cool-gray5: #B1B3B3;
$pms-cool-gray6: #A7A8AA;
$pms-cool-gray7: #97999B;
$pms-cool-gray8: #888B8D;
$pms-cool-gray9: #75787B;
$pms-cool-gray10: #63666A;
$pms-cool-gray11: #53565A;
$pms-black2: #332F21;
$pms-black3: #212721;
$pms-black4: #31261D;
$pms-black5: #3E2B2E;
$pms-black6: #101820;
$pms-black7: #3D3935;